<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title><%= name %></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<app-root></app-root>
<script>
  // var _hmt = _hmt || [];
  // (function () {
  //   var hm = document.createElement("script");
  //   hm.src = "https://hm.baidu.com/hm.js?65eaf455749bea17d12f73ccaa6446de";
  //   var s = document.getElementsByTagName("script")[0];
  //   s.parentNode.insertBefore(hm, s);
  // })();
</script>
</body>
</html>
